Шлее[[:space:]]М.[[:space:]]-[[:space:]]Qt[[:space:]]5.10.[[:space:]]Профессиональное[[:space:]]программирование[[:space:]]на[[:space:]]C++[[:space:]](В[[:space:]]подлиннике)[[:space:]]-[[:space:]]2018.pdf filter=lfs diff=lfs merge=lfs -text
